.vs/*
.vscode/*
*.pdb
*.dll
packages/*
CSCS.ConsoleApp/obj/*
CSCS.ConsoleApp/bin/*
cscs.Tests/obj/*
cscs.Tests/bin/*
cscs/obj/*
cscs/bin/*
CscsScript/obj/*
CscsScript/bin/*
Modules/CSCS.InterpreterManager/obj/*
Modules/CSCS.InterpreterManager/bin/*
Modules/CSCS.Math/obj/*
Modules/CSCS.Math/bin/*
Modules/CSCS.SqlClient/obj/*
Modules/CSCS.SqlClient/bin/*
Modules/CSCS.Tests/obj/*
Modules/CSCS.Tests/bin/*
