<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Languages" type="System.Configuration.NameValueSectionHandler" />
    <section name="Synonyms"  type="System.Configuration.NameValueSectionHandler" />
    <section name="Spanish"   type="System.Configuration.NameValueSectionHandler" />
    <section name="German"    type="System.Configuration.NameValueSectionHandler" />
    <section name="Russian"   type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="lastFilename" value="" />
    <add key="maxLoops" value="100000" />
    <add key="dictionaryPath" value="scripts/" />
    <add key="errorsPath" value="scripts/errors.txt" />
    <add key="language" value="ru" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" />
  </startup>
  <Languages>
    <add key="languages" value="Synonyms,Spanish,German,Russian" />
  </Languages>
  <Synonyms>
    <add key="copy"     value ="cp" />
    <add key="del"      value ="rm" />
    <add key="dir"      value ="ls" />
    <add key="exit"     value ="bye" />
    <add key="include"  value ="import" />
    <add key="move"     value ="mv" />
    <add key="print"    value ="writenl" />
    <add key="read"     value ="scan" />
  </Synonyms>
  <Spanish>
    <add key="if"       value ="si" />
    <add key="else"     value ="sino" />
    <add key="elif"     value ="sinosi" />
    <add key="exit"     value ="adios" />
    <add key="for"      value ="para" />
    <add key="while"    value ="mientras" />
    <add key="function" value ="función" />
    <add key="contains" value ="contiene" />
    <add key="include"  value ="incluir" />
    <add key="size"     value ="tamaño" />
    <add key="kill"     value ="matar" />
    <add key="read"     value ="leer" />
    <add key="print"    value ="imprimir" />
    <add key="translate" value ="traducir" />
    <add key="throw"    value ="arrojar" />
    <add key="return"   value ="regresar" />
  </Spanish>
  <German>
    <add key="if"       value ="wenn" />
    <add key="else"     value ="sonst" />
    <add key="elif"     value ="sonst_wenn" />
    <add key="exit"     value ="tschuss" />
    <add key="contains" value ="enthaltet" />
    <add key="for"      value ="für" />
    <add key="while"    value ="solange" />
    <add key="function" value ="funktion" />
    <add key="size"     value ="grösse" />
    <add key="kill"     value ="toeten" />
    <add key="read"     value ="lesen" />
    <add key="print"    value ="drucken" />
    <add key="throw"    value ="werfen" />
    <add key="return"   value ="rückgabe" />
    <add key="include"  value ="importieren" />
  </German>
  <Russian>
    <add key="if"       value ="если" />
    <add key="else"     value ="иначе" />
    <add key="elif"     value ="иначе_если" />
    <add key="exit"     value ="дос" />
    <add key="contains" value ="содержит" />
    <add key="for"      value ="для" />
    <add key="while"    value ="пока" />
    <add key="return"   value ="вернуть" />
    <add key="function" value ="функция" />
    <add key="include"  value ="включить" />
    <add key="size"     value ="размер" />
    <add key="kill"     value ="убить" />
    <add key="read"     value ="читать" />
    <add key="try"      value ="попытка" />
    <add key="catch"    value ="поймать" />
    <add key="throw"    value ="ошибка" />
    <add key="translate"    value ="перевод" />
    <add key="print"        value ="печать" />
    <add key="printred"     value ="печатькрас" />
    <add key="printgreen"   value ="печатьзел" />
    <add key="printblack"   value ="печатьчер" />
    <add key="printgray"    value ="печатьсер" />
  </Russian>
</configuration>
